# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
- Python
- R
- Julia

Some of the popular languages that Data Scientist use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientist include:
1. numpy
2. pandas
3. Scipy

| Data Science Tools|
|-------------------|
|Apache Spark|
|Jupyter Notebook|
|R|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bakri